<tr>
    <td>{var:title}</td>
    <td>{var:date}</td>
    <td>{var:status}</td>
    <td><a href="?dir=backend&action=editPost&idPost={var:idPost}">Edytuj</a></td>
    <td><a href="javascript:void(0);" onclick="deletePost({var:idPost},'{var:title}');">Usuń</a></td>
</tr>