/* Styles */

body
{
    font-size: 16px;
    width: 100%;

}

nav
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a
{
    font-weight: bold;
    font-size: 1.2em;
}

article
{
    margin: 20px;
    background-color: aliceblue;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#comment
{
    width: 100%;
    margin: 25px;
    background-color: antiquewhite;
    font-size: 0.8em;
}

#error
{
    width: auto;
    margin: 50px;
    background-color: lightcoral;
    font-size: 1.5em;
}

#listPost
{
    width: 96%;
    margin: 2%;
    text-align: center;
}

#msgBox
{
    width: auto;
    margin: 30px;
    background-color: aliceblue;
}